body {
    padding: 0;
    margin: 0;
    background: #9CB4D7;
    /* Old browsers */
   background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #BFC0C0 0%, #BFC0C0 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/k2ZSLo2zvBtvYBv__6S5PcpTlBcpkg4p1Y_6gpYYo3nyTGcd9y-M9MX_NzxlUiHILPIwKqFlQOtzg5zq3HZl9ZQ2G0_vlEUbgbsKqFgPumaXBGOWEOMABpYi1qhzeX6PYmwd9cg9vJaZoQAUgteIS8ugHme08bqrdngWkIhM1QPWHEH-UAeJJzhRlX7RvI62Jt_pg6OVNaow1E6DhwfaOMv1aJMaw8O7d4mV72sAmxVTPZEkEtvY8JKFnKDYZA4oWX2qGwEptwjt1AuORGp4kITrEk3lRxhpgbvaecbucVk_EYYWqKUotyBhRd-n7aeCzmmQQ5jpALzbOqaiGUjghdMTq_1-XslqOCoOCAqwHrlF2Z1MMPLyIdIzfonA1B5vxGbeR7uofjuQRk0yZGX1RByH9fTnWA4oy2cRk924KTBUZ-KfyJ9yRiR1osrRjNoIAFhIiqM55-i0RMQOcHd9utykJCLtuUbYQxiEnh0B0wEIQvdSy7QePamUbYRxGSHhQbaxN_jLszpEtzAP_G8Nhq3R-SV5tmr7j_djVIcKW1db3YFLBSZAcsk6KvI6A0plwERLKjXDFSMvvJHkYEze2LuZtLe3e8FgahVcLuQ=w1420-h960-no);
    height: 500px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #101116;
    text-align: center;
    line-height: 24px;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: right;
  }
  
  /* Roast types */
  .green {
    background-color: #405372;
  }
  
  .light {
    background-color: #627EA7;
  }
  
  .city {
    background-color: #9CB4D7;
  }
  
  .vienna {
    background-color: #3B4C77;
  }
  
  .italian {
    background-color: #101116;
  }
  
  /* Typography */
  h1 {
    color: #3B4C77;
    font-family: 'Cinzel', serif;
    font-size: 77px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: right;
    padding-right: 60px;
    top: 70%;
  }
  
  h2 {
    color: #627EA7;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
  }
  
  h3 {
    color: #3B4C77;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Cinzel', serif;
    font-size: 14px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #405372;
    font-family: 'Cinzel', serif;
    font-size: 13px;
    font-weight: 900;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  
  
  
  
  
  
  
